#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

html,
body {
  height: 100%;
  margin: 0;
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.notes__add {
  background: #009578;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add:hover {
  background: #00af8c;
}

.notes__list-item {
  cursor: pointer;
  border: 2px dotted;
  margin: 2px;
  margin-bottom: 1em;
  border-radius: 10px;
  position: relative;
}

/* .notes__list-item:hover, .notes__del-btn {
  visibility: visible;
} */

.notes__list-item--selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
  border-radius: 10px;
}

.notes__list-item .notes__del-btn {
  background: #ff0000;
  display: inline-block;
  width: 22px;
  border-radius: 20px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  /* visibility: hidden; */
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notes__small-updated {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 3em 3em;
  flex-grow: 1;
  position: relative;
}

.notes__preview .notes__preview-save {
  background: #009578;
  display: inline-block;
  width: 60px;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}

.node__page {
  display: flex;
}
